/* reset */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

/* variables*/
:root {
  --nav-height: 60px;
}

/* NAV */
#nav-wrap {
  width: 100%;
  position: fixed;
  top: 0;
  transition: transform 0.3s ease-in-out;
  background-color: #12133c;
  z-index: 999;
}

.hamburger-menu {
  display: none;
}

.nav-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.nav-content>ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-content>ul>li {
  list-style-type: none;
  border-bottom: 1px solid transparent;
}

.nav-content>ul>li:hover {
  cursor: pointer;
}

.nav-content>ul>li.link:hover {
  border-bottom: 1px solid #313EF7;
}

.nav-content>ul>li>a {
  text-decoration: none;
  padding: 0px 25px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 3;
  /* 28px */
  text-wrap: nowrap;
}

.nav-content>ul>li>a:hover {
  color: #313EF7;
}

/* SECTION-HERO */
.section-hero {
  padding-top: 88px;
  background-image: radial-gradient(#12144EE5, #010223)
}

.hero-top {
  position: relative;
  padding-top: 40px;
  /* padding-top: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-top img {
  width: 100%;
}

.hero-top .hero-plane {
  position: absolute;
  margin: auto;
  width: 65%;
  /* top:0%; */
  /* bottom: 0%; */
  /* left: 0%; */
  /* right: 0%; */
  transition: transform 10s ease;
  transform: scale(0) rotate3d(1, 1, 1, 45deg);

}

/*
.hero-top::before {
  content: "";
  position: absolute;
  background: url('../images/plane.png') no-repeat center center/cover;
  width: 100%;
  height: 175px;
  transform: scale(0.7);
  top: 80px;
  left: 0%;
  right: 0%;
  bottom: 0%;
}
*/

.hero-title-wrap {
  padding: 10px 0px 60px 0px;
  text-align: center;
}

.hero-title-wrap>h1 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 72px */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.hero-title-wrap>p {
  color: rgba(255, 255, 255, 0.70);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.booking-tab {
  padding: 0px 0px 100px 0px 0px;
}

.hero-bottom {
  /* padding-bottom: 100px; */
}

.booking-tab-labels {
  display: flex;
  justify-content: start;
  align-items: center;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* border-bottom: 1px solid rgba(238, 238, 238, 0.7); */
}

.booking-tab-labels a {
  background-color: #fff;
  padding: 16px 40px;
  text-decoration: none;
  color: #030522;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: auto;
}

.booking-tab-labels a.active {
  color: white;
  background-color: #313EF7;
}

.booking-tab-labels .tab-left {
  border-top-left-radius: 20px;
}

.booking-tab-labels .tab-right {
  border-top-right-radius: 20px;
}

/* .booking-tab-labels input[type=checkbox] { */
/* display: none; */
/* } */



.booking-form {
  display: none;
}

.booking-form.active {
  display: block;
}

.booking-form {
  /* border: 1px solid rebeccapurple; */
  padding: 40px 70px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 1px solid rgba(238, 238, 238, 0.7);
}

.booking-form-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.booking-form-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-form-item-left {
  padding: 16px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: rgba(49, 62, 247, 0.05);
}

/* booking left- animate plane */
/* move ball smoothly */
#flying-plan {
  animation: moveSmoothly 15s linear infinite;
}

@keyframes moveSmoothly {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(50px, 0px);
  }

  30% {
    transform: translate(30px, 20px);
  }

  40% {
    transform: translate(40px, 0px);
  }

  50% {
    transform: translate(9px, 20px);
  }

  60% {
    transform: translate(35px, 45px);
  }

  70% {
    transform: translate(12px, 2px);
  }

  80% {
    transform: translate(27px, 10px);
  }

  90% {
    transform: translate(10px, 34px);
  }

  100% {
    transform: translate(0, 0);
  }
}


.booking-form-item-right>span {
  display: block;
  color: #030522;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 27px */
}

.booking-form-item-right>input {
  color: #AEB5BF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  border: 0px;
  /* 175% */
}

.booking-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-form-submit button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
  max-width: 200px;
  padding: 14px 45px;
  border-radius: 56px;
  border: 0px;
  background: #313EF7;
  color: white;
}

/* SECTION FLIGHT */
.section-flight {
  padding: 50px 0px;
  padding-top: 150px;
  background-color: #010223;
  overflow: hidden;
}

.flight-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flight-left {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.flight-left {
  padding-right: 40px;
  padding-left: 40px;
}

.flight-left h3 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 60px */
  letter-spacing: 0.6px;
  text-transform: capitalize;
  padding-bottom: 30px;
}

.flight-left p {
  color: rgba(255, 255, 255, 0.65);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  padding-bottom: 50px;
}

.flight-left img {
  width: 100%;
  max-width: 250px;
}

.flight-right {
  width: 60%;
  padding: 0px 7% 0px 7%;
}

.swiper {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(23, 110, 106);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}


.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

.slide-card {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 20px;
  -webkit-mask: radial-gradient(circle, transparent 17px, black 18px) 200px 110px;
  /* for fixed width */
}

@media screen and (max-width: 850px) and (min-width: 576px) {
  .slide-card {
    -webkit-mask: radial-gradient(circle, transparent 17px, black 18px) 23vw 13.2vw;
    /* for responsive width */
  }
}

@media screen and (max-width: 576px) and (min-width: 440px) {
  .slide-card {
    -webkit-mask: radial-gradient(circle, transparent 17px, black 18px) 200px 110px;
    /* for fixed width */
  }
}

@media screen and (max-width: 440px) and (min-width: 200px) {
  .slide-card {
    -webkit-mask: radial-gradient(circle, transparent 17px, black 18px) 44vw 28vw;
    /* for responsive width */
  }
}


.slide-content-item {
  padding: 0px 30px;
}

.slide-content-item-hr {
  padding: 30px 0px;
}

.slide-content-item-hr img {
  width: 100%;
}

.slide-content-item-last {
  padding: 0px 20px;
  padding-bottom: 24px;
}

.slide-content-item-last img {
  width: 100%;
}

.slide-content-item.one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 24px;
}

.slide-content-item.one button {
  display: flex;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgb(48, 62, 247, 1);
  background-color: rgb(48, 62, 247, 0.1);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0px;
}

.slide-content-item.one .right {
  display: flex;
  width: 92px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;

  color: #030522;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.slide-content-item.two h6 {
  padding-bottom: 24px;
  color: #030522;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.slide-content-item.details {
  display: flex;
  justify-content: center;
  align-self: center;
}

.slide-content-item-detail {
  width: 50%;
  margin-bottom: 16px;
}

.slide-content-item-detail p {
  color: var(--gray-400, #9CA3AF);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  align-self: stretch;
}

.slide-content-item-detail h6 {
  color: #030522;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  align-self: stretch;
}


/* CDN CODE- Marquee */
.marquee {
  overflow: hidden;
  width: 100%;
}

/* SECTION-TRAVELLERS */

.section-travellers {
  width: 100%;
  padding: 100px 0px;
  /* background-color: #fff; */
  overflow: hidden;
}

.travellers {
  width: 100%;
}

.travellers h4 {
  color: #011736;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.marquee-list.trav-cards {
  width: 100%;
  display: flex;
  gap: 100px;
  padding: 20px 0px;
}

.trav-card {
  /* background-color: #fefefe; */
  background: #FFF;
  width: 100%;
  max-width: 282px;
  padding-bottom: 40px;
  border-radius: 213px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.trav-card-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20px;

}

.trav-card-bot h6 {
  color: #011736;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.trav-card-bot p {
  color: #979797;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

/* SECTION-FOOTER */

.section-footer {
  padding: 100px 20px;
  background: rgba(49, 62, 247, 0.05);
}

.footer form {
  width: 100%;
  max-width: 534px;
  margin: auto;
}

.footer h4 {
  color: #011736;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

.sub-email-ip-wrap {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.footer input {
  width: 100%;
  padding: 11px 11px 11px 20px;
  border-radius: 150px;
  border: 0px;
  background: white;
  box-shadow: 0px 100px 200px 0px rgba(1, 23, 54, 0.10);

  color: #AEB5BF;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 120% */
}

.footer input::placeholder {
  opacity: 0.9;
}

.sub-email-ip-wrap button {
  position: absolute;
  top: 13%;
  bottom: auto;
  right: 2%;
  left: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 25px;
  border: 0px;
  border-radius: 56px;
  background: #313EF7;
}


/* UTILITY */

/* utility-containers */
.container-large {
  width: 100%;
  margin: auto;
  max-width: 1440px;
  padding: 0px 120px;
}

.container-full {
  width: 100%;
  max-width: 100%;
  margin: auto;
}



/* utility- buttons */
.btn {
  padding: 10px 40px;
  border-radius: 60px;
  color: white;
  cursor: pointer;
}

.btn.border-white {
  border: 1px solid white;
}

.btn.bg-trans {
  background-color: transparent;
}


/* utility-background-colors */
.bg-blue {
  background-color: #030522 !important;
}

/* utility- borders */
.border1 {
  border: 1px solid red;
}

.border2 {
  border: 1px solid blue;
}

.border3 {
  border: 1px solid pink;
}

.border4 {
  border: 1px solid yellow;
}

.border5 {
  border: 1px solid green;
}

.scale-up-1 {
  transform: scale(1) !important;
  /* Adjust the scale factor as needed */
}


/* MEDIA QUERY - tablet- @media (max-width: 991px) {} */