*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {}


/* system */
.container-full {
  width: 100%;
}


/* custom */
.nav-content {
  max-height: 123px;
}

.nav-content {
  width: 100%;
  display: grid;
  grid-template-columns: 250px 5fr 1.7fr
}

.nav-left {
  width: 100%;
  position: relative;
  filter: drop-shadow(15px 0 0 #083B66);
}

.nav-left img {
  width: 100%;
  max-width: 250px;
  max-height: 123px;
  clip-path: polygon(0 0, 76.5% 0%, 100% 100%, 0% 100%) !important;
}

.logo-wrap {
  position: absolute;
  top: 5%;
  left: 5%;
  right: auto;
  bottom: auto;

}

.logo-wrap img {
  width: 175px;
  /* height: 85px; */
}

.hline {
  width: 1000%;
  height: 1px;
  background-color: #e3e3e3;
}


.nav-center {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-around;
  position: relative;
  left: -15px;
}


.nav-center-top,
.nav-center-bot {
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 40px;
  gap: 20px;
}

.nav-center-bot-menu {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
}


.nav-right-top {
  height: 60px;
  display: flex;
  justify-content: end;

  filter: drop-shadow(-1px 0 0 #acacac);
}

.nav-right-top-con {
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  background-color: white;
  padding-left: 43px;
  padding-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nav-right-top-con a {
  border: 1px solid red;
  border-radius: 50%;
}

.nav-right-top a {
  padding: 9px;
}




.nav-right-bot {
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: baseline;

}

.nav-right-bot-bg {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  filter: drop-shadow(-15px 0 0 #083B66);
}

.nav-right-bot-bg img {
  width: 100%;
  max-width: 250px;
  max-height: 64px;
  clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0% 100%);
}

.nav-right-bot-name {
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}

/* hero */
.hero-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  width: 100%;
  max-height: 660px;
  background: url(./images/back-imag.jpg) no-repeat center center;
}

.hero-overlay {
  background-color: #193A63;
  opacity: 0.9;

  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
}

.hero-left {
  width: 50%;
  z-index: 2;
}

.hero-left img {
  max-width: 643px;
}